.button {
	font-family: $font;
	font-size: 14px;
	line-height: 24px;
	padding: 8px 30px;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: 0.2s;

	&_primary {
		border-color: $color-gray;

		&:hover {
			color: $color-white;
			background: $color-blue;
			border-color: transparent;
		}
	}

	&_secondary {
		color: $color-white;
		background: $color-blue;

		&:hover {
			color: $color-black;
			background: transparent;
			border-color: $color-gray;
		}
	}

	&_icon {
		padding: 0;
		border: none;
	}
}
