$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
$font: 'Roboto', sans-serif;
$color-black: #000;
$color-white: #fff;
$color-gray: #cfcfcf;
$color-gray-dark: #8e90a6;
$color-gray-dark2: #8c8c8c;
$color-lightgray: #d5d5d5;
$color-lightgray2: #dbdbdb;
$color-blue: #3366ff;
